---
import PlacesTable from '@components/PlacesTable.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <main class='px-4 py-8'>
    <h1 class='text-3xl text-center'>Uniplaces Project</h1>
    <section class='relative overflow-x-auto my-8'>
      <PlacesTable />
    </section>
  </main>
</Layout>
